/* Fonts */
@font-face {
    font-family: 'Ocean Sans Bold';
    src: url(fonts/OceanSansStd-Bold.woff);
}

@font-face {
    font-family: 'Ocean Sans Semibold';
    src: url(fonts/OceanSansStd-Semibold.woff);
}

@font-face {
    font-family: 'Ocean Sans Semibold Ext';
    src: url(fonts/OceanSansStd-SemiboldExt.woff);
}

@font-face {
    font-family: 'LTAIdentity';
    src: url(fonts/LTAIdentity-Medium.woff);
}

@font-face {
    font-family: "Futura";
    src: url(fonts/Futura-Bold.woff);
}

/* General styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgb(250, 63, 63);
}

div.logo {
    font-family: "Futura";
    font-size: 48px;
    color: white;
    margin-top: 70px;
    text-align: center;
}

div.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.empty {
    background-color: white;
    font-weight: bold;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 10px;
    width: 60%;
    min-width: 300px;
}

/* Search bar styles */
form.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
    width: 40%;
    min-width: 300px;
    margin: 0 auto;
    height: 40px;
    border-radius: 10px;
    padding: 0 0 0 20px;
    margin-bottom: 40px;
    margin-top: 50px;
}

/* Suggestions card */
div.react-autosuggest__container {
    position: relative;
    width: 100%;
}

div.react-autosuggest__container, div.react-autosuggest__container--open {
    position: absolute;
    top: 9px;
}

div.react-autosuggest__suggestions-container {
    position: absolute;
    background-color: white;
    top: 20px;
    left: -20px;
    width: calc(100% - 74.67px);
}

div.react-autosuggest__suggestions-container ul {
    padding-left: 0;
    margin: 10px 0 0 0;
}

div.react-autosuggest__suggestions-container li, div.react-autosuggest__suggestions-container li {
    list-style-type: none;
    border-top: 1px solid grey;
}

div.react-autosuggest__suggestions-container li:hover, div.react-autosuggest__suggestions-container li:focus {
    background-color: rgb(237, 237, 237);
}

div.react-autosuggest__suggestions-container div {
    padding: 10px 0 10px 22px;
}

input.react-autosuggest__input {
    flex: 1;
    border: none;
    outline: none;
    line-height: 20px;
    font-size: 16px;
    background: transparent;
}

button#submit-btn {
    position: absolute;
    right: 0;
    border: none;
    outline: none;
    background-color: rgb(12, 108, 226);
    color: white;
    font-weight: 100;
    font-size: 16px;
    border-radius: 0 10px 10px 0;
    padding: 11px 12px;
    cursor: pointer;
}

button#submit-btn:active {
    background-color: rgb(10, 83, 173);
}

/* Card styles */
div.card {
    background-color: white;
    width: 80%;
    max-width: 700px;
    margin: 0 auto 20px auto;
    border-radius: 10px;
}

/* Title styles */
div.card-title {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
}

button#show {
    border: none;
    outline: none;
    background-color: rgb(12, 108, 226);
    border-radius: 14px;
    font-size: 12px;
    color: white;
    padding: 6px 8px;
}

button#hide {
    background-color: white;
    border-radius: 14px;
    border: 1px solid rgb(12, 108, 226);
    font-size: 12px;
    color: rgb(12, 108, 226);
    padding: 6px 8px;
}

span.bus-stop-code {
    background-color: rgb(41, 180, 249);
    font-family: 'Ocean Sans Semibold';
    font-size: 18px;
    color: white;
    padding: 3px 6px;
    margin-right: 5px;
}

span.bus-stop-title {
    font-weight: bold;
    line-height: 26px;
}

/* Card details styles */
div.card-details {
    border-top: 1px solid rgb(194, 194, 194);
    padding: 0 20px 16px 20px;
}

div.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
}

div.bus-service {
    font-family: 'Ocean Sans Semibold';
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(135, 224, 94);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

div.directions-details {
    padding: 20px 0 10px 0;
}

span.line {
    font-family: 'LTAIdentity';
    padding: 3px 5px;
    color: white;
    letter-spacing: 1px;
}

span.red {
    background-color: #df2b2b;
}
span.green {
    background-color: #27985c;
}
span.purple {
    background-color: #a317b3;
}
span.yellow {
    background-color: #f49a0f;
}
span.blue {
    background-color: #0055b8;
}
span.brown {
    background-color: #9c5d1f;
}
span.grey {
    background-color: #708370;
}
span.station-name {
    font-family: 'LTAIdentity';
}

div.direction-steps {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 14px;
}

div.step {
    border-left: 5px solid rgb(41, 180, 249);
    /* background-color: #a9d5f8; */
    padding: 8px 0;
    padding-left: 8px;
}
